<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voluntary.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @voluntary.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @voluntary.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voluntary.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @voluntary.user %>
</p>

<%= link_to 'Edit', edit_voluntary_path(@voluntary) %> |
<%= link_to 'Back', voluntaries_path %>
